.navVar{
    display: flex;
    width: 100vw;
    height:30px;
    margin:20px auto;
    background-color: orangered;
    position: fixed;
    bottom : 750px;
    right : 0px;
  
  }
  .navVar .a{
    margin: 0 auto;
    color:aliceblue;
    margin-top: 5px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .a :visited{
    color:white;
    font-weight: 700;
    text-decoration: none;
  }
  .where{
    font-size: 50px;
  }
  .quiz{
    font-size: 25px;
    font-weight: 900;
  }
  .o{
    font-size: 60px;
    position: relative;
    color: greenyellow;
    left: 50px;
    top: 50px;
  }
  .x{
    font-size: 60px;
    position: relative;
    left:210px;
    color: red;
    top: 50px;
  
  }
  
  .result{
    font-size: 50px;
    color: orangered;
    font-weight: 900;
  }

  .btn-exam-start  {
    border-radius: 30px;
    text-shadow: 3px 3px 3px white;
    background-color: rgb(200, 231, 129);
    color: rgb(19, 22, 16);
    font-size: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    top: -290px;
    left: 43%;
    
  }

  .mbti-btn-img {
    border: 1px none;
    box-sizing: content-box;
    width: 100%;
    height: 650px;
    background-size: cover;
  }



  .btn-exam-start:hover {
    text-shadow: 3px 3px 3px white;
    background-color: #000;
    color: white;
    transition: .5s ease-in-out;
  }